n8n-workflows/mental-ia-openai.json
{
  "name": "Mental IA - OpenAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Mentalia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "mentalia-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extrair a mensagem do usuário\nconst userMessage = $input.item.json.body.message || $input.item.json.message || \"\";\n\n// Validar se há mensagem\nif (!userMessage || userMessage.trim() === \"\") {\n  throw new Error(\"Mensagem vazia recebida\");\n}\n\n// Preparar para o próximo nó\nreturn {\n  userMessage: userMessage.trim(),\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "extract-message",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é a Mental IA, uma assistente de saúde mental acolhedora e empática do app Detox Mental. Seu objetivo é:\n\n- Ouvir com atenção e empatia\n- Fazer perguntas reflexivas\n- Ajudar o usuário a processar emoções\n- Oferecer perspectivas construtivas\n- Sugerir práticas de mindfulness quando apropriado\n- Nunca diagnosticar ou substituir tratamento profissional\n\nSeu tom é: acolhedor, calmo, gentil e sem julgamentos.\n\nResponda de forma concisa (2-4 frases) e humanizada."
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 300
        }
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair a resposta da OpenAI\nconst aiResponse = $input.item.json.message?.content || \n                   $input.item.json.choices?.[0]?.message?.content || \n                   $input.item.json.text ||\n                   \"Desculpe, não consegui processar sua mensagem.\";\n\n// Retornar no formato correto\nreturn {\n  response: aiResponse.trim()\n};"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-27T00:00:00.000Z",
  "versionId": "1"
}
